{% with bout = bout_result.get_bout() %}
{% with channel = bout.get_channel() %}
{% with user = bout.get_user() %}
{% with winner = bout.get_winner() %}
{% with loser = bout.get_loser() %}
<tr>
<td><a target="_blank" href="https://twitter.com/{{user.screen_name}}/status/{{bout.tweet}}">{{bout.strf_created_at()}}</a></td>
<td><a href="//{{channel.get_base_url(request.host)}}">{{channel.screen_name}}</a></td>
<td>
{% if bout.result == 'draw' %}
<i class="icon-align-justify"></i>
{% elif player and player.id == winner.id %}
<i class="icon-star-empty"></i>
{% endif %}
{% if bout.result == 'draw' %}<strike>{% elif player and player.id == winner.id %}<strong>{% endif %}
<a href="//{% if subdomain_root %}{{subdomain_root}}{% else %}{{request.host}}{% endif %}/{{winner.screen_name}}">{{winner.screen_name}}</a>
{% if bout.result == 'draw' %}</strike>{% elif player and player.id == winner.id %}</strong>{% endif %}
<a target="_blank" href="https://twitter.com/{{winner.screen_name}}"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/bird_blue_16.png"></a>
</td>
<td>
{% if bout.result == 'draw' %}
<i class="icon-align-justify"></i>
{% elif player and player.id == loser.id %}
<i class="icon-star"></i>
{% endif %}
{% if bout.result == 'draw' %}<strike>{% endif %}
<a href="//{% if subdomain_root %}{{subdomain_root}}{% else %}{{request.host}}{% endif %}/{{loser.screen_name}}">{{loser.screen_name}}</a>
{% if bout.result == 'draw' %}</strike>{% endif %}
<a target="_blank" href="https://twitter.com/{{loser.screen_name}}"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/bird_blue_16.png"></a>
</td>
<td align="right">{{bout.retweet_count}}</td>
<td>
{% if bout.place %}
<a target="_blank" href="https://twitter.com/hashtag/{{bout.place}}">#{{bout.place}}</a>
{% endif %}
</td>
<td>{{bout.finish}}</td>
</tr>
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
