{% include 'header.html' %}

<div class="container" style="padding:1em;border-radius:6px;background:white;">
<div class="hero-unit">
<h1>
{% if design %}
<a target="_blank" href="{{design.profile_image_url}}">
<img style="border-radius:6px;" height="48px" width="48px" src="{{design.profile_image_url}}"></a>
{% endif %}
{{channel.title}}
</h1>
<br>
<p><a target="_blank" href="https://twitter.com/{{channel.screen_name}}"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/bird_blue_16.png">{{channel.screen_name}}</a>
{{channel.bout}}{{l10n.BOUT}} {{channel.player}}{{l10n.PLAYER}} {{channel.retweet_count}}{{l10n.RT}}</p>
<p>{{channel.description}}</p>
</div>

<div class="row">
<div class="span4">
{% include 'row_channel_detail.html' %}
</div>
<div class="span4">
{% include 'top_player.html' %}
</div>
<div class="span4">
{% include 'most_famous.html' %}
</div>
</div>

<br>
{% include 'recent_best_bout.html' %}

{% include 'footer.html' %}
