{% include 'header.html' %}

<div class="container" style="padding:1em;border-radius:6px;background:white;">
<div class="hero-unit">
{% include 'player_herounit.html' %}
</div>

<div class="row">
<div class="span4">
{% include 'row_channel_detail.html' %}
</div>
<div class="span4">
{% include 'superior.html' %}
</div>
<div class="span4">
{% include 'inferior.html' %}
</div>
</div>

<br>
{% include 'recent_best_bout.html' %}

{% include 'footer.html' %}
