<!DOCTYPE html>
<html>
<head>
<title>{{root.name}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link href="/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/twitter-bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<script src="/twitter-bootstrap/jquery/jquery.min.js"></script>
<script src="/twitter-bootstrap/js/bootstrap.min.js"></script>
{% if design %}
<style>
body {
	background-color: #{{design.profile_background_color}};
{% if design.profile_use_background_image %}
	background-image: url('{{design.profile_background_image_url}}');
{% if not design.profile_background_tile %}
	background-repeat: no-repeat;
{% endif %}
{% endif %}
}
a {
	color: #{{design.profile_link_color}};
}
</style>
{% endif %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<a class="brand" href="{% if subdomain_root %}//{{subdomain_root}}{% endif %}/">{{root.name}}</a>
</div>
</div>
</div>
