{% include 'header.html' %}

<div class="container" style="padding:1em;border-radius:6px;background:white;">
<div class="hero-unit">
<h1>{{root.name}}</h1>
<br>
<p>{{root.description}}</p>
<p>{{root.bout}}{{l10n.BOUT}} {{root.player}}{{l10n.PLAYER}} {{root.retweet_count}}{{l10n.RT}}</p>
</div>

<div class="row">
<div class="span4">
{% include 'row_channel.html' %}
</div>
<div class="span4">
{% include 'top_player.html' %}
</div>
<div class="span4">
{% include 'most_famous.html' %}
</div>
</div>

<br>
{% include 'recent_best_bout.html' %}

{% include 'footer.html' %}
