<h2>{{l10n.MOST_FAMOUS}}</h2>
{% for player in most_famous %}
{% with player = player.get_player() %}
{{player.retweet_count}}{{l10n.RT}}
<a href="//{% if channel %}{{channel.get_base_url(request.host)}}{% elif subdomain_root %}{{subdomain_root}}{% else %}{{request.host}}{% endif %}/{{player.screen_name}}">{{player.screen_name}}</a>
<a target="_blank" href="https://twitter.com/{{player.screen_name}}"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/bird_blue_16.png"></a>
<br>
{% endwith %}
{% endfor %}
