<h1>
{% if design %}
<a target="_blank" href="{{design.profile_image_url}}">
<img style="border-radius:6px;" height="48px" width="48px" src="{{design.profile_image_url}}"></a>
{% endif %}
{{player.name}}
</h1>
<br>
<p><a target="_blank" href="https://twitter.com/{{player.screen_name}}"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/bird_blue_16.png">{{player.screen_name}}</a>
{% if vs_record %}
{{vs_record.win}}{{l10n.WIN}} {{vs_record.lose}}{{l10n.LOSE}} {{vs_record.retweet_count}}{{l10n.RT}}</p>
{% else %}
{{player.win}}{{l10n.WIN}} {{player.lose}}{{l10n.LOSE}} {{player.retweet_count}}{{l10n.RT}}</p>
{% endif %}
<p>
{% if player.url %}
<a target="_blank" href="{{player.url}}">{{player.url}}</a>
{% endif %}
</p>
<p>{{player.description}}</p>
