<h1>
<a target="_blank" href="{{player.profile_image_url}}">
<img style="border-radius:6px;" height="48px" width="48px" src="{{player.profile_image_url}}"></a>
<a href="//{% if subdomain_root %}{{subdomain_root}}{% else %}{{request.host}}{% endif %}/{{player.screen_name}}">{{player.name}}</a>
<a target="_blank" href="https://twitter.com/{{player.screen_name}}"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/bird_blue_48.png"></a>
<div align="center">{{l10n.VS}}</div>
<a target="_blank" href="{{opponent.profile_image_url}}">
<img style="border-radius:6px;" height="48px" width="48px" src="{{opponent.profile_image_url}}"></a>
<a href="//{% if subdomain_root %}{{subdomain_root}}{% else %}{{request.host}}{% endif %}/{{opponent.screen_name}}">{{opponent.name}}</a>
<a target="_blank" href="https://twitter.com/{{opponent.screen_name}}"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/bird_blue_48.png"></a>
</h1>
<h2>
{% for record in records %}
{% with record_channel = record.get_channel() %}
<br>
{% if not channel %}<a href="//{{record_channel.get_base_url(request.host)}}/{{player.screen_name}}/{{opponent.screen_name}}">{% endif %}
{{record_channel.name}}
{% if not channel %}</a>{% endif %}
{{record.win}}{{l10n.WIN}}
{{record.lose}}{{l10n.LOSE}}
{{record.retweet_count}}{{l10n.RT}}
{% endwith %}
{% endfor %}
</h2>
