<div>
<h2>{{l10n.BEST_BOUT}}</h2>
<table border=1>
{% include 'bout_th.html' %}
{% for bout_result in best_bout %}
{% include 'bout_tr.html' %}
{% endfor %}
</table>
</div>
<br>
<div>
<h2>{{l10n.RECENT_BOUT}}</h2>
<table border=1>
{% include 'bout_th.html' %}
{% for bout_result in recent_bout %}
{% include 'bout_tr.html' %}
{% endfor %}
</table>
</div>
