<h2>{{l10n.CHANNEL}}</h2>
{{channel.title}}
<a target="_blank" href="https://twitter.com/{{channel.screen_name}}"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/bird_blue_16.png"></a>
<br>
{{channel.description}}
