<h2>{{l10n.CHANNEL}}</h2>
{% for channel in channels %}
{% with channel = channel.get_channel() %}
<a href="//{{channel.get_base_url(request.host)}}{% if player %}/{{player.screen_name}}{% endif %}">{{channel.screen_name}}</a>
<a target="_blank" href="https://twitter.com/{{channel.screen_name}}"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/bird_blue_16.png"></a>
<br>
{% endwith %}
{% endfor %}
