<h2>{{l10n.SUPERIOR}}</h2>
{% for record in superior %}
{% with opponent = record.get_opponent() %}
{% with record_channel = record.get_channel() %}
{{record.win}}{{l10n.WIN}}
<a href="//{% if channel %}{{record_channel.get_base_url(request.host)}}{% elif subdomain_root %}{{subdomain_root}}{% else %}{{request.host}}{% endif %}/{{player.screen_name}}/{{opponent.screen_name}}">{{opponent.screen_name}}</a>
<a target="_blank" href="https://twitter.com/{{player.screen_name}}"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/bird_blue_16.png"></a>
{% if not channel %}<a href="//{{record_channel.get_base_url(request.host)}}">({{record_channel.screen_name}})</a>{% endif %}
<br>
{% endwith %}
{% endwith %}
{% endfor %}
